<header>
  <h1>FeaturedContent_index</h1>

  <div class="show_button">
    <%= link_to "show" , :show_path %>
  </div>
</header>

<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="fs-5 d-none d-sm-inline">Menu</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li class="nav-item">
            <button onclick="createStripe()" class="nav-link align-middle px-0">
              <%= image_tag("fc-tarja", class: "fc-options" ) %>
            </button>
          </li>

          <li class="nav-item">
            <button onclick="createBigTitle()" class="nav-link align-middle px-0">
              <%= image_tag("fc-big-title", class: "fc-options" ) %>
            </button>
          </li>

          <li class="nav-item">
            <button onclick="createSlide()" class="nav-link align-middle px-0">
              <%= image_tag("fc-slide", class: "fc-options" ) %>
            </button>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link align-middle px-0">
              <%= image_tag("fc-image-in-block", class: "fc-options" ) %>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div>
    <div class="col py-3" id="content">      
      <%#= render "featured_content/search_form" %>
      Content area...
    </div>
  </div>
</div>

<script>

  function setResult(title_in_json) {
    var strip_element = document.getElementById("this_strip");
    strip_element.innerHTML = '';

    let text_strip = document.createTextNode(title_in_json);
    strip_element.appendChild(text_strip);
  }

  function createStripe() {
    //Create strip
    let strip = document.createElement("div")
    strip.setAttribute("class", "p-3 mb-2 bg-dark text-white")
    strip.setAttribute("id", "this_strip");
    let text = document.createTextNode("Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s");

    strip.appendChild(text);
    appendDiv(strip)
    //appendDiv(createSearchForm());
  }

  // Create Big title
  function createBigTitle() {

    let title = document.createElement("h3")
    title.setAttribute("id", "customizing-headings")
    let text = document.createTextNode("Título");
    title.appendChild(text)

    let subtitle = document.createElement("p")
    text = document.createTextNode("Sub título");
    subtitle.appendChild(text)

    appendDiv(title, subtitle)
  }

  // Delete function
  function deleteItem(id) {
    console.log(id)
    const element = document.getElementById(id);
    element.remove();
  }

  //Generate dinamic id
  function idGenerator() {
    return Math.random().toString(36).slice(2)
  }

  // Create buttons elements
  function deleteButton(id) {
    buttondlt = document.createElement("button")
    buttondlt.setAttribute("class", "btn btn-danger")
    buttondlt.setAttribute("id", id)
    buttondlt.setAttribute("onclick", "deleteItem(this.id)")
    buttondlt.textContent = 'Deletar';
    return buttondlt
  }

  function createSearchForm(){
    let search_content = document.createElement("div");
    search_content.setAttribute("class", "search_content");

    search_content.innerHTML =
      `<form action="/featured_content/search" accept-charset="UTF-8" method="post">
      <input type="hidden" name="authenticity_token" value="900YW6CMVh1ApJK8xCH8Z3jKVECwC61x1ACdMTAo30IbBVO7TX9uk8Gf9p02hNcg7s9j_uInfZtS5viqodhLYQ" autocomplete="off" />
      <input oninput="this.form.requestSubmit()" type="search" name="title_search" id="title_search" />
      </form>
      <div id="search_results">
      </div>` 
    ;

    return search_content;
  }

  // Append Elements in view
  function appendDiv(...n) {
    const uid = idGenerator()
    let element = document.createElement("div");
    buttondlt = deleteButton(uid)
    element.setAttribute("id", uid)
    element.setAttribute("class", "featured")

    // Add attributes to the div
    n.forEach(e => {
      element.appendChild(e);
    });

    // Create button and search_form
    element.appendChild(createSearchForm());
    element.appendChild(buttondlt);
    
    // Add div in container
    content = document.getElementById("content")
    content.appendChild(element)
  }  
</script>