<header>
  <h1>FeaturedContent_index</h1>

  <div class = "show_button">
    <%= link_to "show", :show_path %>
  </div>
</header>

<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="fs-5 d-none d-sm-inline">Menu</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li class="nav-item">
            <button onclick="createStripe()"  class="nav-link align-middle px-0">
              <%= image_tag("fc-tarja", class: "fc-options") %>
            </button>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link align-middle px-0">
              <%= image_tag("fc-big-title", class: "fc-options") %>
            </a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link align-middle px-0">
              <%= image_tag("fc-slide", class: "fc-options") %>
            </a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link align-middle px-0">
              <%= image_tag("fc-image-in-block", class: "fc-options") %>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col py-3" id="content">
      <div id="container-input" class="header-top__right">
        <div class="header-top__right--row">
          <form class="header-top__right--form" method="GET" action="/busca/resultados">
            <input type="text" name="q" placeholder="BUSCAR"/>
            <button>
              ok
            </button>
          </form>
        </div>
      </div>

      Content area...
    </div>
  </div>
</div>

<script>
  function createStripe() {
  	//Generate dinamic ic
  	const generateID = ()=> {
     return Math.random().toString(36).slice(2)
  }

		const uid = generateID()
  	//Create strip
  	let strip = document.createElement("div")
  	strip.setAttribute("class", "p-3 mb-2 bg-dark text-white")
    let text = document.createTextNode("Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s");
  	strip.appendChild(text);

  	//Button delete
  	buttondlt = document.createElement("button")
  	buttondlt.setAttribute("class", "btn btn-danger")
  	buttondlt.setAttribute("id", uid)
  	buttondlt.setAttribute("onclick", "deleteItem(this.id)")
  	buttondlt.textContent = 'Deletar';

  	let element = document.createElement("div");
  	element.setAttribute("id", uid)
  	element.appendChild(strip);
  	element.appendChild(buttondlt);
  
  	// Add div in container
  	content = document.getElementById("content")
  	content.appendChild(element)
  }

	function deleteItem(id) {
		console.log(id)
		const element = document.getElementById(id);
		element.remove();
	}
</script>
